<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Impossible to get the data !
        </div>
        <div class="panel-body">
            {{this}}
        </div>
    </div>
</div>