<div id={{id}} class="col-md-4">
    <div id="proteoBlock" class="panel panel-danger">
        <div class="panel-heading">
            Peptide not found !
        </div>
        <div class="panel-body">
            The peptide <strong>{{name}}</strong> have not been found in our database. Please check again the sequence or enter a new peptide.
        </div>
    </div>
</div>